{{!--0868505802--}}
<footer>
    <div class="row row-margin-40 border-top-color footer-font-text"></div>
    <div class="row" style="margin-top:2px;margin-left:45px">
        <div class="column-25">
            <div class="clearfix grpelem" id="u100">
                <!-- group -->
                <div class="grpelem" id="u117">
                    <img class="imgIcon" src="C:\Users\HOMINHTUNG-PC\Desktop\AdsMove\icon_phone.png">
                </div>
                <div class="clearfix grpelem" id="u118-4">
                    <!-- content -->
                    <p class="p-fix" style="color:#0066FF;">(+84) 868 505 802</p>
                </div>
            </div>

        </div>
        <div class="column-25">
            <div class="clearfix grpelem" id="u100">
                <!-- group -->
                <div class="grpelem" id="u117">
                    <img class="imgIcon" src="C:\Users\HOMINHTUNG-PC\Desktop\AdsMove\icon_mail.png">
                </div>
                <div class="clearfix grpelem" id="u118-4">
                    <!-- column -->
                    <div class="clearfix colelem">
                        <!-- content -->
                        <p class="p-fix" style="color:#0066FF;">contact@adsmove.vn</p>
                    </div>
                    <div class="clearfix colelem">
                        <!-- content -->
                        <p class="p-fix" style="color:#0066FF;">Taxcode: 0313 012 356</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-25">
            <div class="clearfix grpelem" id="u100">
                <!-- group -->
                <div class="grpelem" id="u117">
                    <img class="imgIcon" src="C:\Users\HOMINHTUNG-PC\Desktop\AdsMove\icon_location.png">
                </div>
                <div class="clearfix grpelem" id="u118-5">
                    <!-- content -->
                    <p class="p-fix" style="color:#0066FF;">3rd Floor, An Phu Plaza, 117-119 Ly Chinh Thang, Ward 7, Dist. 3, HCMC</p>
                </div>
            </div>

        </div>
        <div class="column-25">
            <div class="clearfix grpelem" id="u100" style="padding-left:60px">
                <!-- group -->
                <div class="grpelem" id="u117">
                    <img class="imgIcon" src="C:\Users\HOMINHTUNG-PC\Desktop\AdsMove\icon_world.png">
                </div>
                <div class="clearfix grpelem" id="u118-4">
                    <!-- content -->
                    <p class="p-fix" style="color:#0066FF;">www.adsmove.vn</p>
                </div>
            </div>
        </div>
    </div>
    <p class="bold p-fix" style="float:right;padding-right:40px">{{numberPage}}</p>
</footer>